.advert{
  position: relative;
  min-width: 1240px;
}

.advert img{
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.fa-less-than{
  position: absolute;
  top: 100px;
  left: 20px;
  border: none;
  background-color: transparent;
  visibility: visible;
  cursor: pointer;
}

.fa-greater-than{
  position: absolute;
  top: 100px;
  right: 20px;
  border: none;
  background-color: transparent;
  visibility: visible;
  cursor: pointer;
}

.advert button{
  background: transparent;
  border: none;
}

.advert .left-arrow{
  position: absolute;
  height: 200px;
  width: 60px;
  border: 3px solid #007185;
  border-radius: 5px;
  visibility: hidden;
  cursor: pointer;
}

.advert .right-arrow{
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
  width: 60px;
  border: 3px solid #007185;
  border-radius: 5px;
  visibility: hidden;
  cursor: pointer;
} 

/* on carrosal */
.on-carrosal{
  /* border: 1px solid blue; */
  width: 1200px;
  /* min-width: 1240px; */
  height: 400px;
  position: absolute;
  top: 205px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left:30px;
  /* flex-wrap: wrap; */
}

.carrosal-divs{
  /* min-height: 400px; */
  /* min-width: 285px; */
  height: 400px;
  width: 280px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}


.title{
  padding: 0;
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.gaming{
  display: grid;
  grid-template-columns: 100px 100px;
  grid-row-gap: 40px;
  grid-column-gap: 50px;
  cursor: pointer;
}

.gaming-items{
  height: 120px;
  width: 110px;
  margin-left: 15px;
}

.gaming img{
  height: 110px;
  width: 110px;
}

.gaming-items p{
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.see-more{
  margin-top: 35px;
  margin-left: 15px;
  font-size: 12px;
}

.see-more:hover a{
  color: orange;
  text-decoration: underline;
}

.see-more a{
  color: #007185;
  text-decoration: none;
}

.electronics{
  width: 250px;
  height: 290px;
  margin-left: 18px;
}

.electronics:hover a{
  color: orange;
  cursor: pointer;
}

.electronics img{
  width: 250px;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.see-more-electronics{
  font-size: 12px;
  margin-top: 20px;
  color: #007185;
}

.see-more-electronics a{
  color: #007185;
  text-decoration: none;
}

.carrosal-divs-special{
  height: 400px;
  width: 285px;
  position: relative;
}

.sign-in-securely{
  height: 150px;
  width: 285px;
  background-color: white;
  position: absolute;
  top: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.shipping{
  height: 250px;
  background-color: white;
  position: absolute;
  top: 150px;
  margin-top:20px ;
}

.shipping img{
  height: 230px;
  position: absolute;
  top: 0px;
  width: 285px;
  object-fit: cover;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.sign-in-securely p{
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  line-height: 28px;
}

.sign-in-button{
  height: 30px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(255,216,20);
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.on-carrosal-bottom{
  width:1200px;
  /* min-width: 1240px; */
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left:30px;
  margin-top: 130px;
}

.kitchen{
  width: 250px;
  height: 290px;
  margin-left: 18px;
}

.kitchen:hover a{
  color: orange;
  cursor: pointer;
}

.kitchen img{
  width: 250px;
  height: 91%;
  object-fit: cover;
  cursor: pointer;
}

/* exciting deals */

.exciting-deals{
  width: 1200px;
  height: 370px;
  border: 1px solid red;
  margin-left: 30px;
  margin-top: 20px;
} 

.exciting-deals .see-all{
  font-size: 14px;
  font-weight: 0;
  color: #007185;
  margin-left: 10px;
}

.exciting-deals .see-all:hover{
  color: orange;
  cursor: pointer;
}

.exciting-deals .title{
  font-size: 21px;
  font-weight: bold;
  position: relative;
}

.exciting-deals .deals{
  /* width: 1173px; */
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
  margin-left: 10px;
  margin-right: 10px;
}

.items{
  width: 230px;
  height: 200px;
  background-color: rgba(15,17,17,.03);
}

.item-book img{
  width: 124px;
  height: 183px;
  margin: 8px 50px 8px 50px;
}

.item-toddler-toy img{
  margin: 25px 8px;
  width: 215px;
  height: 148px;
  background-color: none;
}

.item-coffee-filter img{
  margin: 8px 17px;
  height: 183px;
  width: 205px;
}

.item-portable-bluetooth img{
  height: 183px;
  width: 164px;
  margin: 8px 37px;
}

.item-adobe-photoshop img{
  height: 183px;
  width: 145px;
  margin: 8px 47px;
}

.discount{
  /* background-color: black; */
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  /* padding: 5px 5px; */
}

.discount .off{
  background-color: #CC0C39;
  color: white;
  padding: 4px 6px;
  border-radius: 2px;
}

.discount .deal{
  color: #CC0C39;
  margin-left: 10px;
}

.price{
  margin-top: 5px;
}

.price .doller{
  font-size: 11px;
  color: #0F1111;
  position: relative;
  top: -0.3em;
}

.price .amount-in-dollers{
  font-size: 17px;
}

.price .list-price{
  color: #565959;
  font-size: 12px;
}

.price .original-price{
  color: #565959;
  font-size: 12px;
  text-decoration: line-through;
}

.items .item-description{
  font-size: 13px;
  color: #0F1111;
  margin-top: 10px;
}

.exciting-deals .left-arrow{
  position: absolute;
  height: 200px;
  width: 60px;
  border: 3px solid #007185;
  border-radius: 5px;
  visibility: hidden;
  cursor: pointer;
}

.exciting-deals .right-arrow{
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
  width: 60px;
  border: 3px solid #007185;
  border-radius: 5px;
  visibility: hidden;
  cursor: pointer;
} 

.exciting-deals button{
  background: transparent;
  border: none;
}