.advert{
  position: relative;
}

.advert img{
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.fa-less-than{
  position: absolute;
  top: 100px;
  left: 20px;
  border: none;
  background-color: transparent;
  visibility: visible;
}

.fa-greater-than{
  position: absolute;
  top: 100px;
  right: 20px;
  border: none;
  background-color: transparent;
  visibility: visible;
}

.advert button{
  background: transparent;
  border: none;
}

.advert .left-arrow{
  position: absolute;
  height: 200px;
  width: 60px;
  border: 3px solid #007185;
  border-radius: 5px;
  visibility: hidden;
}

.advert .right-arrow{
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
  width: 60px;
  border: 3px solid #007185;
  border-radius: 5px;
  /* opacity: 0; */
  visibility: hidden;
} 


