.advert{
  position: relative;
  min-width: 1240px;
}

.advert img{
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.fa-less-than{
  position: absolute;
  top: 100px;
  left: 20px;
  border: none;
  background-color: transparent;
  visibility: visible;
  cursor: pointer;
}

.fa-greater-than{
  position: absolute;
  top: 100px;
  right: 20px;
  border: none;
  background-color: transparent;
  visibility: visible;
  cursor: pointer;
}

.advert button{
  background: transparent;
  border: none;
}

.advert .left-arrow{
  position: absolute;
  height: 200px;
  width: 60px;
  border: 3px solid #007185;
  border-radius: 5px;
  visibility: hidden;
  cursor: pointer;
}

.advert .right-arrow{
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
  width: 60px;
  border: 3px solid #007185;
  border-radius: 5px;
  visibility: hidden;
  cursor: pointer;
} 

/* on carrosal */
.on-carrosal{
  /* border: 1px solid blue; */
  width: 1200px;
  /* min-width: 1240px; */
  height: 400px;
  position: absolute;
  top: 205px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left:30px;
  /* flex-wrap: wrap; */
}

.carrosal-divs{
  /* min-height: 400px; */
  /* min-width: 285px; */
  height: 400px;
  width: 280px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}


.title{
  padding: 0;
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.gaming{
  display: grid;
  grid-template-columns: 100px 100px;
  grid-row-gap: 40px;
  grid-column-gap: 50px;
  cursor: pointer;
}

.gaming-items{
  height: 120px;
  width: 110px;
  margin-left: 15px;
}

.gaming img{
  height: 110px;
  width: 110px;
}

.gaming-items p{
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.see-more{
  margin-top: 35px;
  margin-left: 15px;
  font-size: 12px;
}

.see-more:hover a{
  color: orange;
  text-decoration: underline;
}

.see-more a{
  color: #007185;
  text-decoration: none;
}

.electronics{
  width: 250px;
  height: 290px;
  margin-left: 18px;
}

.electronics:hover a{
  color: orange;
  cursor: pointer;
}

.electronics img{
  width: 250px;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.see-more-electronics{
  font-size: 12px;
  margin-top: 20px;
  color: #007185;
}

.see-more-electronics a{
  color: #007185;
  text-decoration: none;
}

.carrosal-divs-special{
  height: 400px;
  width: 285px;
  position: relative;
}

.sign-in-securely{
  height: 150px;
  width: 285px;
  background-color: white;
  position: absolute;
  top: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.shipping{
  height: 250px;
  background-color: white;
  position: absolute;
  top: 150px;
  margin-top:20px ;
}

.shipping img{
  height: 230px;
  position: absolute;
  top: 0px;
  width: 285px;
  object-fit: cover;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.sign-in-securely p{
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  line-height: 28px;
}

.sign-in-button{
  height: 30px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(255,216,20);
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.on-carrosal-bottom{
  width:1200px;
  /* min-width: 1240px; */
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left:30px;
  margin-top: 130px;
}

.kitchen{
  width: 250px;
  height: 290px;
  margin-left: 18px;
}

.kitchen:hover a{
  color: orange;
  cursor: pointer;
}

.kitchen img{
  width: 250px;
  height: 91%;
  object-fit: cover;
  cursor: pointer;
}

/* exciting deals */

.exciting-delas{
  width: 96%;
  border: 1px solid red;
} 

