
.header{
  width: 1240;
  min-width: 1240px;
  height: 60px;
  background-color: rgb(35,31,32);
  display: flex;
  flex-direction: row;
}

.left-section{
  display: flex;
  width: 210px;
  align-items: center;
  justify-content: space-between;  
  flex-shrink: 0; 
}

.logo{
  display: flex;
  align-items: center;
  height: 60px;
  width: 110px;
  margin-left: 5px;
}

.amazon-logo{
  height: 50px;
  width: 150px;
  padding-left: 8px;
  padding-right: 8px;
  background: transparent;
}

.amazon-logo:hover{
  height: 50px;
  width: 110px;
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.location{
  color: white;
  padding: 10px 8px;
}

.location:hover{
  color: white;
  border: 1px solid white;
  padding: 10px 3px;
  border-radius:2px ;
  cursor: pointer;
  transition: opacity 0.15s;
}

.deliver{
  font-size: 12px;
  color: rgb(194, 194, 194);
  padding-left: 15px;
}

.country{
  font-size: 14px;
  font-weight: bold;
}

.middle-section{
  flex: 1;
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.all{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-button{
  height: 40px;
  width: 55px;
  padding-left: 8px;
  padding-right: 8px ;
  color: rgb(113, 113, 113);
  font-size: 12px;
  background-color: rgb(223, 223, 223);
  border: 1px solid rgb(210, 208, 208);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

.all .tooltip{
  position: absolute;
  font-size: 12px;
  color: black;
  background-color: white;
  padding: 5px 5px;
  bottom: -30px;
  border: 1px solid black;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.all:hover .tooltip{
  opacity: 1;
}

.fa-caret-down{
  padding-left: 4px;
  font-size: 11px;
}

.input-search input{
  height: 37px;
  width: 530px;
  margin-left: -1px;
  margin-right: -1px;
  border: 1px solid rgb(210, 208, 208);
}

.input-search ::placeholder{
  font-size: 15px;
  padding-left: 5px;
}

.search-icon{
  background-color: rgb(233, 174, 63);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.fa-magnifying-glass{
  font-size: 20px;
}

.right-section{
  /* background-color: red; */
  width: 385px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  flex-shrink: 0;
}

.flag{
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

.flag:hover{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

.flag-img{
  width: 20px;
  height: 16px;
  margin-right: 5px;
}

.flag-country{
  color: white;
  display: flex;
  align-items: end;
  font-size: 14px;
  font-weight: bold;
}

.flag .fa-caret-down{
  margin-top: 5px;
  color: rgb(168, 165, 165);
  display: flex;
  align-items: end;
}

.account{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.account:hover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  border: 1px solid white;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.hello{
  font-size: 12px;
}

.list{
  font-size: 14px;
  font-weight: bold;
}

.orders{
  color: white;
  padding: 8px 10px;
}

.orders:hover{
  color: white;
  padding: 8px 10px;
  border: 1px solid white;
}

.return{
  font-size: 12px;
}

.order{
  font-size: 14px;
  font-weight: bold;
}

.cart{
  color: white;
  margin-right: 15px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 8px;
}

.cart:hover{
  color: white;
  margin-right: 15px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 8px;
  border: 1px solid white;
}

.fa-cart-shopping{
  color: white;
  font-size: 25px;
}